.father {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.child {
  background-color: tomato;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}
