.father {
  display: grid;
  grid-template-columns: [potato] 100px [tomato] 200px [clock] 100px [apple];
  grid-template-rows: [korea] 200px [japan] 100px [thailand];
  gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
}

.child:first-child {
  grid-row-start: 1;
  grid-row-end: -1;
}

.child:last-child {
  background-color: teal;
  /* grid-column-start: 2;
  grid-column-end: -1; */
  grid-column: tomato / apple;
}
