.father {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
}
